/* ===== Styles für den Editor ===== */


*, *::before, *::after {
    box-sizing: border-box;
}



:root {
    --base-bg-color: #FFFFFF;
    --base-bg-color-rgb: 255, 255, 255;
    --base-color: #666666;
    --headline-color: #0F0100;

    --primary-color: #0F0100;
    --primary-rgb: 15, 1, 0;
    --primary-alpha: 1;

    --accent-color: #3B6C9B;
    --focus-outline-color: #8AB1CC;

    --secondary-color: #F5F5F5;

    /* Schriften */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /* Feste Schriftgrößen in rem (px/18) */
    --font-size-base: 18px;
    --font-size-h1: 2.2rem;
    --font-size-h2: 1.7rem;
    --font-size-h3: 1.7rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.3rem;
    --font-size-h6: 1rem;

    --font-size-17: 0.94rem;
    --font-size-30: 1.67rem;

    /* Dynamische Größen für H1,H2 u big title */
    --font-size-h1-fluid: clamp(2.22rem, 5vw, 3.88rem);
    --font-size-h2-fluid: clamp(1.66rem, 4vw, 2.77rem);
    --font-size-big-title: clamp(2.22rem, 6vw, 5.55rem);

    /* Schriftstärken */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --container-max-width: 1350px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
}

h1 {
    font-size: var(--font-size-h1-fluid);
}

h2 {
    font-size: var(--font-size-h2-fluid);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-regular);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-regular);
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-regular);
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-regular);
}

p{font-size: var(--font-size-base);
    font-family: var(--font-secondary);
    color: var(--base-color);}


.main-container {
    max-width: var(--container-max-width); /* 1350px */
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.post-hero {
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    color:var(--base-bg-color);
    position: relative;
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* vertikal zentrieren */
    aspect-ratio: unset;
    margin-bottom: 140px;
}


.editor-styles-wrapper .wp-block-cover.post-hero {
    display: flex;
    align-items: center ;
    min-height: 400px; /* Feste Mindesthöhe im Editor */
}


.hero .above-level {
    z-index: 2;
}

.hero .above-level > * {
    margin-bottom: 30px;
}

.umbruch {
    max-width: 782px;
    color: var(--base-bg-color);
}

/* Alle direkten Kinder (jede Spalte) bekommt flex, um Inhalt zu zentrieren */
.post-secondary-section > div {
    flex: 1;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Inhalt oben ausrichten */
}

.post-secondary-section .headline h2:first-child {
    margin-top: 0;
}


.image-overlay {
    position: relative;
    display: block; /* Flexibler Bild-Wrapper */
    width: 100%; /* Anpassung Elternbreite */
    height: auto;
    overflow: hidden;
}

.image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Schwarzes Overlay mit 40% Trans */
    z-index: 1;
    mix-blend-mode: hard-light; /* Overlay-Effekt lt XD */
    pointer-events: none; /* Overlay blockiert keine Klicks */
}

.image-overlay img {
    display: block;
    width: 100%;
    height: auto; /* Skaliert  Bild proportional */
    z-index: 0;
    object-fit: cover;
}



/* Ggf. noch .content-block, .main-container etc. */
.editor-styles-wrapper .post-content-block{
    margin: 106px 0 0 0;
}

/* style-editor.css (Editor) */
.editor-styles-wrapper .post-hero .umbruch a,
.editor-styles-wrapper .post-hero .umbruch a:visited {
    font-weight: bold;
    text-decoration: none;
}

.editor-styles-wrapper .post-hero .umbruch a:hover {
    text-decoration: underline;
}

.editor-styles-wrapper .post-hero .umbruch a:active,
.editor-styles-wrapper .post-hero .umbruch a:focus {
    color: var(--focus-outline-color)
}


.big-title-section {
    background-color: var(--accent-color);
    width: 100%;
    max-height: 136px;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 60px;
}

.big-title{
    color: var(--base-bg-color);
    font-size: var(--font-size-big-title);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 0;
    z-index: 1;
    line-height: 1;
}


